.chatbot-container{
    font-family: Arial, Helvetica, sans-serif;
    width:100vw;
    height:100vh;
    background-color:rgb(40, 45, 49);
}
.chat-bot-header{
    box-sizing: border-box;
    height:10vh;
    width:100%;
    color: white;
    text-align: center;
    padding:0.5rem;
    border-bottom: 1px solid gray;
}
.chatbot-main{
    box-sizing: border-box;
    width:100vw;
    height:90vh;
    overflow-y: scroll;
}

.response-container{
    height:40%;
    width:80%;
    margin: auto;
    color: white;
}
.file-name{
    box-sizing: border-box;
    height:8%;
    width:60%;
    margin: auto;
    padding:1rem 0px;
    color: white;
}
.response-block{
    height:92%;
    overflow-y: scroll;
    width:80%;
    margin: auto;
    color: white;
}

::-webkit-scrollbar{
    width:0px;
    height:0px;
}

.input-block{
    width:60%;
    height:10%;
    margin: auto;
    padding:0.5rem 0px;
    display: flex;
    justify-content: space-around;
    border: 5px;
}

.input-block input{
    border:1px solid gray;
    padding:0.5rem;
    color: white;
}

.input-block input[type="text"]{
    width:60%;
    color: black;
}

.input-block button{
    width:10%;
    padding:0.5rem;
}

.no-data-display{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}



.user-query{
    border-radius:5px;
    padding:0.5rem;
    background-color:rgba(30, 36, 40,0.5);
}

.chat-table {
    width:max-content;
    min-width:50%;
    height: auto;
    margin-bottom: 0px;
}
  
.chat-table td {
    padding: 10px;
    text-align: left;
    border-bottom:0.5px solid rgba(76, 76, 76,0.5);
}

.chat-response {
    color: white;
    font-size:25px;
    font-weight: 700;
    margin: auto;
    height: max-content;
    width:60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    margin-top:3rem;
}

.query{
    font-size:20px;
}

.loader {
    margin: auto;
    margin-top:1rem;
    width: 55px;
    aspect-ratio: 1;
    --g1:conic-gradient(from  90deg at top    3px left  3px,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
    background:
      var(--g1),var(--g1),var(--g1),var(--g1), 
      var(--g2),var(--g2),var(--g2),var(--g2);
    background-position: 0 0,100% 0,100% 100%,0 100%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l11 1.5s infinite;
  }
  @keyframes l11 {
    0%   {background-size:35px 15px,15px 15px,15px 35px,35px 35px}
    25%  {background-size:35px 35px,15px 35px,15px 15px,35px 15px}
    50%  {background-size:15px 35px,35px 35px,35px 15px,15px 15px}
    75%  {background-size:15px 15px,35px 15px,35px 35px,15px 35px}
    100% {background-size:35px 15px,15px 15px,15px 35px,35px 35px}
  }

  .response{
    width:60%;
    margin: auto;
    margin-top:3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .evalute-btn{
    margin:1rem;
  }


  .evaluation-score-board{
    color: white;
  }

  .query-block{
    width: 60%;
    margin: 1rem auto;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .query-block input{
    width:100%;
    padding:0.5rem;
  }

  .file-upload{

    color: white;
    flex-direction: column;
    justify-content: left;
    margin-bottom:2rem;
  }
.file-upload label{
  font-size:12px;
}
  .file-upload input[type="file"]{
    width:30%;
  }

  .submit-btn{
    justify-content: right;
  }

  .submit-btn button{
    outline: none;
    color: rgb(40, 45, 49);
    font-size:20px;
    font-weight: 400;
    border: none;
    border-radius:3px;
    background-color:white;
  }

  .submit-btn button:hover{
    color: white;
    background-color:lightslategrey;
  }
  
  .chat-bot-header i{
    font-size:18px;
  }
::-webkit-scrollbar{
  width:0px;
  height:0px;
}
  .table-info{
    width:60%;
    overflow-x: scroll;
    height:max-content;
    padding:0.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap:1rem;
    color: white;
    margin: auto;
    background-color: rgb(91, 92, 93);
  }

  .label-table-schema{
    width:60%;
    height: max-content;
    margin:auto;
    font-size:14px;
    color: white;
  }